*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Roboto", sans-serif;
}
header{
    background-color:#66bb69;
    width: 100%;
    padding: 10px 15%;
}
header h2{
    color: #fff;
    font-size: 2rem;
    display: inline-block;
    margin-right: 100px;
    font-family: "Sansita Swashed", system-ui;
}

nav{
   display: inline-block;

    a{
    margin: 0 20px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    }
    a:hover{
        text-decoration:underline;
    }
    
    
}
.banner-container{
     background-image: url("../images/background.png");
  height: 350px;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #fff;
  padding-top: 50px;
  
    .banner-content{
       
        max-width: 700px;
        margin-left: 10%;

        h1{
            font-size: 3rem;
            margin-bottom: 20px;
            font-weight: bold;
            font-family: "Sansita Swashed", system-ui;
        }

        p{
            font-size: 1.2rem;
            margin-bottom: 20px;
            line-height: 1.5;
        }

        button{
          padding: 12px 16px;
          border-radius: 20px;
          background-color: #66bb69;
          color: #fff;
          font-size: 1.1rem;
          font-weight: 600;
          cursor: pointer;
          border:none;
        }
        button:hover{
            background-color: #41a945;
        }
    }


}
.cards-section{
    width: 100%;
    padding: 60px 10%;
    text-align: center;
    background-color: #f9f9f9;
    display: inline-block;

    h2{
        font-size: 2.1rem;
        color: #333;
        margin-bottom: 40px;
    }

    .card{
        display: inline-block;
        width: 150px;
        height: 270px;
        background-color: #fff;
        border: 1px solid #333;
        border-radius: 5px;
        margin-right: 10px;
        img{
            object-fit: contain;
            width: 100%;
        }
        h3{
            margin-top: 5px;
            color: #333;
        }
       p{
        margin-top: 10px;
        margin-bottom: 20px;
       }

       button{
         background-color: #66bb69;
         padding: 8px 18px;
         border-radius: 14px;
         color: white;
         cursor: pointer;
         font-size: 1rem;
         font-weight: 500;
         border: none;
       }
       button:hover{
        background-color: #41a945;
       }
    }

}

.form-container{
    width: 100%;
    height: 520px;
    display: inline-block;
    background-color: #E8F5E9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

    form{
        margin-left: 30%;
        display: inline-block;
        text-align: center;
        label{
            margin-right: 5px;
            margin-bottom: 5px;
            font-size: 1rem;
            font-weight: 600;
            color: #333;
            display: block;
            text-align: left;
            font-family: "Roboto", sans-serif;
        }
        .input{
            width:400px;
            padding: 12px;
            border-radius: 20px;
            margin-bottom: 15px;
            border: none;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* sombra leve ao redor */
        }
    }

    h2{
        text-align: center;
        font-size: 2rem;
        margin-top: 10px;
        margin-bottom: 20px;
        font-family: "Roboto", sans-serif;
    }
    select{
        padding: 10px 24px;
        text-align: left;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 65%;
        cursor: pointer;
        border: none;
         box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }
    button{
         padding: 12px 16px;
         margin-top:25px;
         margin-bottom: 25px;
         width: 100%;
          border-radius: 20px;
          background-color: #66bb69;
          color: #fff;
          font-size: 1.1rem;
          font-weight: 600;
          cursor: pointer;
          border:none;
    }
    button:hover{
       background-color: #41a945;
    }
}
footer{
    width: 100%;
    padding: 20px;
    background-color: #66bb69;

    p{
        color:#333;
        text-align: center;
    }
}
